:host {
  width: 276px;
  border: 1px solid #dddddd;

  .date-box {
    padding: 20px 20px;
    .day {
      font-size: 14px;
      color: #9b9fa8;
    }
    .date {
      font-size: 26px;
      font-weight: 300;
      color: #252629;
    }
    .year {
      font-size: 14px;
      color: #9b9fa8;
    }
  }

  nav {
    padding: 20px 20px;
    background-color: #f3f4f5;
    border-top: 1px solid #dbdde0;
    border-bottom: 1px solid #dbdde0;
    .list-name {
      display: flex;
      align-items: center;
      color: #5e92fc;
      font-size: 12px;

      img {
        margin-right: 10px;
      }
    }
    ul {
      padding-left: 40px;
      padding-top: 20px;
      li.menu-item {
        font-size: 12px;
        margin-bottom: 24px;
        cursor: pointer;
        outline: none;
        &:last-child {
          font-weight: 500;
        }
      }
    }

    .active {
      color: #5e92fc;
    }
  }
}
