<div class="sidenav">
  <div class="date-box">
    <div class="day">Thursday</div>
    <div class="date">24 December</div>
    <div class="year">2020</div>
  </div>
  <nav>
    <span class="list-name"
      ><img src="../../../../../assets/icons/Icons_warsztat_ico.svg" />
      Users</span
    >
    <ul>
      <li
        class="menu-item"
        [routerLink]="['users-list']"
        routerLinkActive="active"
      >
        User List
      </li>
      <li
        class="menu-item"
        [routerLink]="['user-edit']"
        routerLinkActive="active"
      >
        User Edit
      </li>
      <li
        class="menu-item"
        [routerLink]="['permmisions']"
        routerLinkActive="active"
      >
        Roles and Permissions
      </li>
      <li
        class="menu-item"
        [routerLink]="['settings']"
        routerLinkActive="active"
      >
        Settings
      </li>
    </ul>
  </nav>
</div>
