@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  --delete: #e5322c;
  --block: #6e7c98;
  --warning: #fabb2b;
  --primary: #5e92fc;
}
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;

  button {
    background-color: unset;
    border: none;
    outline: none;
  }
}
