@import "/src/mixins.scss";

:host {
  .top-bar {
    display: flex;
    justify-content: space-between;
    border: 1px solid #dddddd;
    border-left: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
    height: 60px;
    .data {
      display: flex;

      .sidenav-button {
        border-right: 1px solid #dddddd;
        height: 100%;
        @include flex-center;
        width: 60px;
        cursor: pointer;
        img {
          height: 20px;
        }
      }
      &-box {
        @include flex-center;
        flex-direction: column;
        width: 120px;
        height: 100%;
        border-right: 1px solid #dddddd;

        .name {
          font-size: 11px;
          color: #9b9fa8;
        }
        .count {
          font-size: 14px;
          color: #252629;
        }
      }
    }

    .user-section {
      display: flex;

      .notification {
        @include flex-center;
        width: 62px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        cursor: pointer;

        .icon-box {
          position: relative;

          .counter {
            @include flex-center;
            position: absolute;
            top: -2px;
            left: 10px;
            background-color: #e5322c;
            color: #ffffff;
            font-size: 9px;
            font-weight: 500;
            width: 14px;
            height: 14px;
            border-radius: 50px;
          }
        }
      }
      .profile {
        @include flex-center;
        justify-content: space-around;
        width: 180px;
        padding: 0 10px;
        cursor: pointer;

        .user-name {
          font-size: 14px;
          color: #6a6d75;
        }
      }
    }
  }
}
