<div class="top-bar">
  <div class="data">
    <button
      class="sidenav-button"
      [ngClass]="{
        'sidenav-button--open': sidenavSate === sidenavStateEnum.open
      }"
      (click)="toggleSidenav()"
    >
      <span class="bar"></span>
    </button>
    <div class="data-box">
      <p class="name">ACTIVE</p>
      <p class="count">245</p>
    </div>
    <div class="data-box">
      <p class="name">BLOCKED</p>
      <p class="count">245</p>
    </div>
    <div class="data-box">
      <p class="name">CONFIRMED</p>
      <p class="count">245</p>
    </div>
  </div>
  <div class="user-section">
    <button class="notification">
      <div class="icon-box">
        <span class="counter">8</span>
        <img src="../../../../../assets/icons/Icons_notification_ico.svg" />
      </div>
    </button>
    <button class="profile">
      <div class="avatar-box">
        <img src="../../../../../assets/avatar.png" />
      </div>
      <p class="user-name">WarsztatA12</p>
      <div class="menu-trigger">
        <img
          src="../../../../../assets/icons/Icon_Form_Arrow_down_ico.svg"
          alt=""
        />
      </div>
    </button>
  </div>
</div>
